.popup-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 8050;
}

.shade {
  position: absolute;
  inset: 0;
  border: 0; // should not be necessary in final version
  padding: 0; // should not be necessary in final version
  background-color: hsla(210, 18%, 10%, 0.8);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
