.thinglink-wrapper {
  position: relative;
  background-color: var(--tertiary-color);

  .full-screen-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    place-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border: 2px dashed #bbb;
    background-color: transparent;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      font-size: 1.75rem;
    }
  }
}

.thinglink-spot {
  position: absolute;

  button {
    display: grid;
    place-content: center;
    height: 1.5rem;
    width: 1.5rem;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 9999px;
    background-color: black;
    color: white;
    font-weight: 900;
    font-size: 1.125rem;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      border-color: white;
      transform: scale(1.2);
    }
  }
}
