#root {
  --primary-color: #a0232a;
  --secondary-color: #db8b93;
  --tertiary-color: #f5c4c4;
  --prim-text: #ffffff;
  --sec-ter-text: #3b1318;

  margin: 0 auto;
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

.layout {
  background-color: var(--tertiary-color);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;

  & * {
    pointer-events: all;
  }

  .nav-btn {
    background-color: white;
    border-radius: 10px;
    border: 0;
    height: 80px;
    cursor: pointer;
  }
}
