:root {
  --primary-color: #a0232a;
  --secondary-color: #db8b93;
  --tertiary-color: #f5c4c4;
  --prim-text: #ffffff;
  --sec-ter-text: #3b1318;
}

#root {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--tertiary-color);
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

.nav-btn {
  background-color: white;
  border-radius: 10px;
  border: 0;
  height: 80px;
  cursor: pointer;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  &:disabled {
    cursor: default;
  }

  &.prev {
    left: 1rem;
  }

  &.next {
    right: 1rem;
  }
}
