#root {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.layout {
  background-color: #f5c4c4;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 2rem;
  padding: 1rem;

  .nav-btn {
    background-color: white;
    border-radius: 10px;
    border: 0;
    height: 80px;
    cursor: pointer;
  }
}
