.digibord-tools {
  position: absolute;
  inset: 0;
  // z-index: 1;

  &.idle {
    pointer-events: none; // important to allow interaction with the canvas and the assignments
  }
}

// makes canvas transparent
.tl-background {
  background-color: transparent !important;
}

// set the UI on the foreground on top of the assignments
.tlui-layout {
  position: fixed;
  inset: 0;
}

// hide watermark
.tl-watermark_SEE-LICENSE {
  display: none !important; // is this allowed?
}
