.assignment {
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  min-height: 500px;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.assignment-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  .assignment-title {
    font-size: 2.25rem;
  }

  .grid-areas {
    display: grid;
    height: 100%;
    width: 100%;

    .grid-area {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 0;
      border: 4px dashed transparent;
      font-size: 1.75rem;
      font-weight: bold;

      &:hover {
        border-color: currentColor;
      }

      &__text {
        width: fit-content;
        padding: 1rem;
        margin: 0;
        font-size: 28px;
      }
    }
  }
}

.assignment-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  img {
    max-width: 100%;
  }
}

.assignment-4 {
  display: grid;
  gap: 1rem;

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-top: 8px solid var(--primary-color);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;

    &.Notice {
      --primary-color: #ff6b00;
      --tertiary-color: #ffd8cc;
    }
    &.Query {
      --primary-color: #ffbc00;
      --tertiary-color: #fff5cc;
    }
    &.Idea {
      --primary-color: #b3eb5b;
      --tertiary-color: #e5ffc6;
    }

    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      padding-bottom: 16px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 16px;

      .card-title {
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0;
      }

      .card-label {
        margin: 0;
        padding: 2px 12px;
        border: 1px solid currentColor;
        border-radius: 9999px;
        color: var(--primary-color);
        background-color: var(--tertiary-color);
        font-weight: 700;
        font-size: 14px;
      }
    }

    .card-description {
      font-size: 1rem;
      margin: 0;
    }
  }
}

.assignment-5 {
  width: 75vw;
  height: 80vh;
}

.assignment-6 {
  max-width: 100ch;
}

.assignment-7 {
  min-width: 700px;
  min-height: 700px;

  .pdf-assignment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;

    background-color: white;
    border-radius: 6px;

    p {
      font-size: 1rem;
    }

    button {
      background-color: var(--tertiary-color);
      border: 2px solid var(--primary-color);
      padding: 4px 8px;
      cursor: pointer;
      border-radius: 4px;

      &:hover,
      &.active {
        background-color: var(--primary-color);
        color: white;
      }

      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
}
