@mixin line-clamp($number-of-lines) {
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: anywhere;

  @supports (-webkit-line-clamp: $number-of-lines) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: $number-of-lines;
    -webkit-box-orient: vertical;
  }
}

.thinglink-item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 300px;
  margin: 20px;
  padding: 8px;
  border-radius: 6px;
  background-color: black;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__image {
    height: 60px;
    width: 60px;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    @include line-clamp(1);
  }

  &__description {
    margin: 0;
    font-size: 12px;
    @include line-clamp(2);
  }
}
